In [683]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
import warnings
warnings.filterwarnings('ignore')

In [684]:
df=pd.read_csv("train (4).csv")

In [685]:
df.shape

(8693, 14)

In [686]:
df.sample(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
2949,3195_06,Earth,True,G/505/S,TRAPPIST-1e,9.0,False,0.0,0.0,0.0,0.0,0.0,Violan Litthews,False
7258,7761_01,Earth,False,F/1612/P,TRAPPIST-1e,23.0,False,1.0,0.0,0.0,237.0,553.0,Benja Watsongley,True
8023,8587_01,NaN,False,F/1763/P,TRAPPIST-1e,25.0,False,637.0,0.0,89.0,312.0,2.0,Ronard Fielsenders,False
2070,2215_04,Europa,False,A/27/S,NaN,36.0,False,0.0,3206.0,0.0,698.0,72.0,Ranons Ingent,False
6541,6905_02,Earth,False,E/460/S,TRAPPIST-1e,15.0,False,0.0,0.0,0.0,938.0,44.0,Lilasa Acobson,False
1317,1395_01,Earth,False,G/214/S,TRAPPIST-1e,7.0,False,0.0,0.0,0.0,0.0,0.0,Willah Fryes,True
8194,8759_02,Mars,False,F/1695/S,TRAPPIST-1e,45.0,False,74.0,0.0,0.0,1130.0,22.0,Crios Chate,False
7117,7585_01,Europa,True,C/281/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Suhaino Admingried,True
919,0987_01,Earth,False,F/204/P,TRAPPIST-1e,16.0,False,3.0,0.0,35.0,150.0,478.0,Fayen Norrison,False
2594,2781_01,Earth,True,G/447/P,TRAPPIST-1e,38.0,False,0.0,0.0,0.0,0.0,0.0,Marice Williotters,False

In [687]:
df.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

In [688]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [689]:
df.describe(include="all")

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
count,8693,8492,8476,8494,8511,8514.000000,8490,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000,8493,8693
unique,8693,3,2,6560,3,NaN,2,NaN,NaN,NaN,NaN,NaN,8473,2
top,0001_01,Earth,False,G/734/S,TRAPPIST-1e,NaN,False,NaN,NaN,NaN,NaN,NaN,Gollux Reedall,True
freq,1,4602,5439,8,5915,NaN,8291,NaN,NaN,NaN,NaN,NaN,2,4378
mean,NaN,NaN,NaN,NaN,NaN,28.827930,NaN,224.687617,458.077203,173.729169,311.138778,304.854791,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,14.489021,NaN,666.717663,1611.489240,604.696458,1136.705535,1145.717189,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,19.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,27.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,38.000000,NaN,47.000000,76.000000,27.000000,59.000000,46.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,79.000000,NaN,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000,NaN,NaN

In [690]:
df.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [691]:
cat_var=df.select_dtypes(include=['object']).columns
for col in cat_var:
    print(col)

PassengerId
HomePlanet
CryoSleep
Cabin
Destination
VIP
Name

In [692]:
num_var=df._get_numeric_data().columns
for col in num_var:
    print(col)

Age
RoomService
FoodCourt
ShoppingMall
Spa
VRDeck
Transported

In [693]:
df.drop(["PassengerId","Name","RoomService","FoodCourt","ShoppingMall","Spa","CryoSleep","Cabin"],axis=1,inplace=True)

In [694]:
df.head(100)

   HomePlanet  Destination   Age    VIP  VRDeck  Transported
0      Europa  TRAPPIST-1e  39.0  False     0.0        False
1       Earth  TRAPPIST-1e  24.0  False    44.0         True
2      Europa  TRAPPIST-1e  58.0   True    49.0        False
3      Europa  TRAPPIST-1e  33.0  False   193.0        False
4       Earth  TRAPPIST-1e  16.0  False     2.0         True
..        ...          ...   ...    ...     ...          ...
95      Earth  TRAPPIST-1e  24.0  False    17.0         True
96      Earth  55 Cancri e   9.0  False     0.0         True
97      Earth  TRAPPIST-1e   6.0  False     0.0        False
98      Earth  TRAPPIST-1e  27.0  False   131.0        False
99       Mars  TRAPPIST-1e  21.0  False     0.0        False

[100 rows x 6 columns]

In [695]:
df=df.dropna()

In [696]:
# dummies=pd.get_dummies(df[["VIP"]],drop_first=True)
# df=pd.concat([df,dummies],axis=1)

In [697]:
df.head()

  HomePlanet  Destination   Age    VIP  VRDeck  Transported
0     Europa  TRAPPIST-1e  39.0  False     0.0        False
1      Earth  TRAPPIST-1e  24.0  False    44.0         True
2     Europa  TRAPPIST-1e  58.0   True    49.0        False
3     Europa  TRAPPIST-1e  33.0  False   193.0        False
4      Earth  TRAPPIST-1e  16.0  False     2.0         True

In [698]:
df.drop("VIP",axis=1,inplace=True)

In [699]:
df.sample()

     HomePlanet  Destination  Age  VRDeck  Transported
1879      Earth  TRAPPIST-1e  2.0     0.0        False

In [700]:
df["HomePlanet"].value_counts()

Earth     4199
Europa    1972
Mars      1597
Name: HomePlanet, dtype: int64

In [701]:
df["HomePlanet"].replace({'Earth':1 ,'Europa':2 ,'Mars':3},inplace=True)

In [702]:
df.head(10)

    HomePlanet    Destination   Age  VRDeck  Transported
0            2    TRAPPIST-1e  39.0     0.0        False
1            1    TRAPPIST-1e  24.0    44.0         True
2            2    TRAPPIST-1e  58.0    49.0        False
3            2    TRAPPIST-1e  33.0   193.0        False
4            1    TRAPPIST-1e  16.0     2.0         True
5            1  PSO J318.5-22  44.0     0.0         True
6            1    TRAPPIST-1e  26.0     0.0         True
8            1    TRAPPIST-1e  35.0     0.0         True
9            2    55 Cancri e  14.0     0.0         True
10           2    TRAPPIST-1e  34.0     0.0         True

In [703]:
df["Destination"].value_counts()

TRAPPIST-1e      5379
55 Cancri e      1654
PSO J318.5-22     735
Name: Destination, dtype: int64

In [704]:
df["Destination"].replace({'TRAPPIST-1e':1 ,'PSO J318.5-22':2 ,'55 Cancri e':3},inplace=True)

In [705]:
df.head(10)

    HomePlanet  Destination   Age  VRDeck  Transported
0            2            1  39.0     0.0        False
1            1            1  24.0    44.0         True
2            2            1  58.0    49.0        False
3            2            1  33.0   193.0        False
4            1            1  16.0     2.0         True
5            1            2  44.0     0.0         True
6            1            1  26.0     0.0         True
8            1            1  35.0     0.0         True
9            2            3  14.0     0.0         True
10           2            1  34.0     0.0         True

In [706]:
df.isnull().sum()

HomePlanet     0
Destination    0
Age            0
VRDeck         0
Transported    0
dtype: int64

In [707]:
mean1=df["Age"].mean()
mean1
df["Age"].replace(np.nan,mean1,inplace=True)

In [708]:
mean2=df["Destination"].mean()
mean2
df["Destination"].replace(np.nan,mean2,inplace=True)

In [709]:
mean3=df["HomePlanet"].mean()
mean3
df["HomePlanet"].replace(np.nan,mean2,inplace=True)

In [710]:
mean2=df["VRDeck"].mean()
mean2
df["VRDeck"].replace(np.nan,mean2,inplace=True)

In [711]:
from sklearn.preprocessing import StandardScaler
sts=StandardScaler()

In [712]:
feature=['VRDeck']
df[feature]=sts.fit_transform(df[feature])
df.head()

   HomePlanet  Destination   Age    VRDeck  Transported
0           2            1  39.0 -0.265115        False
1           1            1  24.0 -0.227229         True
2           2            1  58.0 -0.222924        False
3           2            1  33.0 -0.098934        False
4           1            1  16.0 -0.263393         True

In [713]:
df.isnull().sum()

HomePlanet     0
Destination    0
Age            0
VRDeck         0
Transported    0
dtype: int64

In [714]:
X=df.drop("Transported",axis=1)
y=df["Transported"]

In [715]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=1)

In [716]:
model=LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression()

In [717]:
print(model.score(X_train,y_train))
print(model.score(X_test,y_test))

0.6477837042486665
0.6374946374946375

In [718]:
predictions=model.predict(X_test)

In [719]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)

0.6374946374946375

In [720]:
from sklearn.tree import DecisionTreeClassifier

In [721]:
model2=DecisionTreeClassifier()
model2.fit(X_train,y_train)
print(model2.score(X_train,y_train))
print(model2.score(X_test,y_test))

0.810741217583226
0.6387816387816387

In [722]:
model2_reg=DecisionTreeClassifier(criterion='gini')
model2_reg.fit(X_train,y_train)
print(model2.score(X_train,y_train))
print(model2.score(X_test,y_test))

0.810741217583226
0.6387816387816387

In [723]:
model_bag=BaggingClassifier(n_estimators=75 )

In [724]:
model_bag.fit(X_train,y_train)

BaggingClassifier(n_estimators=75)

In [725]:
print(model_bag.score(X_train,y_train))
print(model_bag.score(X_test,y_test))

0.810741217583226
0.6435006435006435

In [726]:
model_ada=AdaBoostClassifier( n_estimators=50)

In [727]:
model_ada.fit(X_train,y_train)

AdaBoostClassifier()

In [728]:
print(model_ada.score(X_train,y_train))
print(model_ada.score(X_test,y_test))

0.683465146220342
0.6842556842556843

In [729]:
model_boost=GradientBoostingClassifier(n_estimators=4)
(model_boost.fit(X_train,y_train))

GradientBoostingClassifier(n_estimators=4)

In [730]:
print(model_boost.score(X_train,y_train))
print(model_boost.score(X_test,y_test))

0.6792348721721537
0.6726726726726727

In [731]:
model_ran=RandomForestClassifier(max_depth=3)

In [732]:
model_ran.fit(X_train,y_train)

RandomForestClassifier(max_depth=3)

In [733]:
print(model_ran.score(X_train,y_train))
print(model_ran.score(X_test,y_test))

0.6808901967997057
0.6765336765336766

In [734]:
model_svc = SVC()

In [735]:
model_svc.fit(X_train,y_train)

SVC()

In [736]:
print(model_svc.score(X_train,y_train))
print(model_svc.score(X_test,y_test))

0.5863527680706272
0.5915915915915916

In [737]:
from sklearn.neighbors import KNeighborsClassifier
from scipy.stats import zscore 
model_knn=KNeighborsClassifier( n_neighbors=5)
model_knn.fit(X_train,y_train)

KNeighborsClassifier()

In [738]:
print(model_knn.score(X_test,y_test))
print(model_knn.score(X_train,y_train))

0.6366366366366366
0.7029611918337318

In [739]:
from sklearn.naive_bayes import GaussianNB
model_naive=GaussianNB()
model_naive.fit(X_train,y_train)

GaussianNB()

In [740]:
print(model_naive.score(X_train,y_train))
print(model_naive.score(X_test,y_test))

0.5878241677395623
0.5907335907335908

In [741]:
predictions=model.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,predictions)

array([[675, 449],
       [396, 811]], dtype=int64)

In [742]:
df1=pd.read_csv("test (4).csv")

In [743]:
df1.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [744]:
df2=df1.drop(["PassengerId","VIP","Name","RoomService","FoodCourt","ShoppingMall","Spa","CryoSleep","Cabin"],axis=1)

In [745]:
df2.head()

  HomePlanet  Destination   Age  VRDeck
0      Earth  TRAPPIST-1e  27.0     0.0
1      Earth  TRAPPIST-1e  19.0     0.0
2     Europa  55 Cancri e  31.0     0.0
3     Europa  TRAPPIST-1e  38.0   585.0
4      Earth  TRAPPIST-1e  20.0     0.0

In [746]:
df2[feature]=sts.fit_transform(df2[feature])

In [747]:
mean4=df2["Age"].mean()
mean4
df2["Age"].replace(np.nan,mean4,inplace=True)

In [748]:
df2["Destination"].replace({'TRAPPIST-1e':1 ,'PSO J318.5-22':2 ,'55 Cancri e':3},inplace=True)
mean5=df2["Destination"].mean()
mean5
df2["Destination"].replace(np.nan,mean5,inplace=True)

In [749]:
df2["HomePlanet"].replace({'Earth':1 ,'Europa':2 ,'Mars':3},inplace=True)

In [750]:
mean6=df2["HomePlanet"].mean()
mean6
df2["HomePlanet"].replace(np.nan,mean6,inplace=True)

In [751]:
mean7=df2["VRDeck"].mean()
mean7
df2["VRDeck"].replace(np.nan,mean7,inplace=True)

In [752]:
df2.isnull().sum()

HomePlanet     0
Destination    0
Age            0
VRDeck         0
dtype: int64

In [753]:
df2.head()

   HomePlanet  Destination   Age    VRDeck
0         1.0          1.0  27.0 -0.249197
1         1.0          1.0  19.0 -0.249197
2         2.0          3.0  31.0 -0.249197
3         2.0          1.0  38.0  0.219987
4         1.0          1.0  20.0 -0.249197

In [754]:
y_predicted=model.predict(df2)

In [755]:
sample_submission=pd.DataFrame({
    "PassengerId":df1["PassengerId"],
    "Transported": y_predicted
})

In [756]:
sample_submission.to_csv("spaceship6.csv",index=False)